<h1>Welcome to a place with photos.</h1>


<%= form_for current_user, :url => user_path(current_user), :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit %>
<% end %>

<h1><%= current_user.email %><span class="avatar"><%= image_tag current_user.avatar.url(:thumb) %></span></h1>

<%= link_to "Update User", update_path(@user) %>Remove Avatar!
<a href="/log-out">Not you?  Sign out!</a>
<a href="/users/new">Or make new account</a>
